<div class="dashboard-container">
    <h1>Admin Dashboard</h1>
  
    <div class="cards">
      <div class="card" (click)="goTo('users')">Manage Users</div>
      <div class="card" (click)="goTo('courses')">Manage Courses</div>
      <div class="card" (click)="goTo('instructors')">Manage Instructors</div>
      <div class="card" (click)="goTo('sales')">Sales & Revenue</div>
      <div class="card" (click)="goTo('support')">Support Requests</div>
      <div class="card" (click)="goTo('live-sessions')">Live Sessions</div>
    </div>
  </div>
  